#led {
  position: absolute;
  bottom: 560px;
  left: 403px;
}

#ledBlue {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(#00f 0%, #0000 75%);
  bottom: 553px;
  left: 382px;
  opacity: 0;
}

#button {
  position: absolute;
  bottom: 440px;
  left: 542px;
}

#door {
  position: absolute;
  bottom: 90px;
  left: 749px;
}

#plant {
  position: absolute;
  bottom: 171px;
  left: 995px;
}

#sprinkler {
  position: absolute;
  bottom: 460px;
  left: 1078px;
}
